body{
	background-image:url("https://images.unsplash.com/photo-1597177184416-299ffca86b09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExNTQ4fQ&auto=format&fit=crop&w=1351&q=80");
	background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    margin:0;
    padding:0;
}


header{
	height: 100vh;
	text-align:center;
	padding-top:10vh;
}


.navbar-light .navbar-brand, .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link{
	color:white;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-nav .show > .nav-link:hover, .navbar-light .navbar-nav .active > .nav-link:hover, .navbar-light .navbar-nav .nav-link.show:hover, .navbar-light .navbar-nav .nav-link:hover{
	color:#ff3b9d;
	text-decoration: underline;
}

.chevron-link{
	padding-top: 100px;
	height:60px;
	width:60px;
	text-align:center;
	color:white;
	font-size: 30px;
}

.chevron-link:hover{
	color:#ff3b9d;
}

.footer-last{
	background-color:rgba(255,255,255,0.7)
}

.navbar-brand{
	color:white;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	margin-left:3rem;
}

.nav-link{
color:white;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	margin-right:3rem;
}

.card-header{
	background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height:250px;
}

.img-yay{
	background-image:url("https://cdn.stocksnap.io/img-thumbs/960w/mobile-phone_FB0FUDL6ZW.jpg")
}

.img-web{
	background-image:url("https://images.unsplash.com/photo-1539278670307-a69d04dc8a75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80")
}

.img-photo{
	background-image: url("../images/april.JPG");
	background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
	height:200px;
	width:200px;
	border-radius: 100px;
}


.img-software{
	background-image:url("https://images.unsplash.com/photo-1556742031-c6961e8560b0?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80")
}

.img-ux{
	background-image:url("https://images.unsplash.com/photo-1578401058525-35aaec0b4658?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80")
}

.section-title{
	padding-bottom: 2rem;
	margin-left:2rem;
	font-family: 'Montserrat', sans-serif;
}

.section{
	background-color:rgba(255,255,255,0.7)
}

.link-social:hover{
color:white;
}

.link-social{
	color:#ff3b9d;
}

.link-card{
	color:black;

}

.link-card:hover{
	color:#ff3b9d;
	text-decoration:none;
}

.text-contact{
	font-family: 'Sacramento', cursive;
	font-size: 40px;
}

#contactform{
	font-family: 'Montserrat', sans-serif;
}

.text-welcome{
	padding-top: 1rem;
	font-family: 'Sacramento', cursive;
}

.text-connect{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight:bold;
}

.text-quote{
	font-family: 'Sacramento', cursive;
	font-size: 33px;
}

.lead, .second{
	font-family: 'Montserrat', sans-serif;
}

.btn-outline-dark:hover{
	background-color:#ff3b9d;
	border-color:#ff3b9d;
}
